{% extends "base.html" %}
{% block content %}
    <div class="main-title">Details</div>
    <div class="card box-style">
        <img src="{{ movie.img.url }}" alt="No Image Available"/>
        <span>Title :</span>
        <h1>{{ movie.title }}</h1>
        <span>Plot Summary :</span>
        <h3>{{ movie.story_line }}</h3>
        <span>Genre :</span>
        <div>{{ movie.genre }}</div>
        <span>Release Year :</span>
        <div>{{ movie.release_year }}</div>
        <span>Registered At :</span>
        <div>{{ movie.date_created }}</div>
        <a href="/movies/delete/{{ movie.title }}">Delete</a>
    </div>

{% endblock %}